
.burger-bar {
  width: 2rem;
  margin-top:0.3rem;
  padding: 2px;
  background: #FFF;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.hidden {
  display: none;
}

.visible {
  display: inherit;
}


/* Animation classes for burger toggle */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem, 0.3rem);
  transition: ease-out 0.2s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 1s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(-45deg) translate(0.5rem, -0.4rem);
  transition: ease-out 0.5s;
}
.burger-bar.unClicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.835, 0.32, 1.225);
}

/* Larger screens - optional override 
@media only screen and (min-width: 768px) {
  .burger-bar {
    width: 4rem;
    height: 0.3rem;
    background: #FFF;
    padding: 2px;
  }

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.4rem, 0.9rem);
  transition: ease-out 0.2s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  margin-left: 100px;
  transition: ease-out 1s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(-50deg) translate(0.6rem, -0.7rem);
  transition: ease-out 0.5s;
}

.burger-bar.unClicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.835, 0.32, 1.225);
}
  .menu {
    font-size: 1.2rem;
  }
}
*/
